body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}


/* ---reset--- */


ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  border: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* ---common--- */


.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}


/* ---header--- */


header {
  background-color: #fff;
}

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list, .contacts {
    display: none;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  padding: 16px 0;
}

.header-logo .logo-part {
  color: #2e2f42;
}

.header-logo {
  /* padding: 16px 0; */
  display: block;
}

.burger-btn {
    padding: 0;
    border: none;
    background-color: transparent;
}

.burger-icon {
    display: block;
    fill: #2f2f37;
}


/* ---mobile menu--- */


button.btn-mobile-menu-close {
  min-width: 24px;
  height: 24px;
} 

.btn-mobile-menu-close {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn {
  display: block;
  fill: #2e2f42;
  margin: auto; 
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-mobile-menu-close:hover, .btn-mobile-menu-close:focus {
  background-color: #404bbf;
  border: none;
}

.btn-mobile-menu-close:hover .close-btn, .btn-mobile-menu-close:focus .close-btn {
  fill: white
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translate(0%);
  z-index: 100;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu:not(.is-open) .modal{
  transform: translate(100%);
}

.mobile-menu-container {
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.mobile-nav {
    margin-bottom: auto;
}

.mobile-nav-link {
  display: block;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-nav-link:hover,
.mobile-nav-link:focus,
.mobile-contacts-link:hover,
.mobile-contacts-link:focus,
.mobile-nav-link.current {
  color: #404bbf;
}

.mobile-nav-item {
padding-bottom: 40px;
}

.mobile-contacts-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 48px;
}

.mobile-contacts-link {
  display: block;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-icons-list{
    display: flex;
    padding-right: 24px;
    justify-content: space-between;
    /* gap: 40px; */
}

.mobile-icons-item {
  width: 40px;
  height: 40px;
}

.mobile-icons-link:hover, .mobile-icons-link:focus {
  background-color: #404bbf;
} 

.mobile-icons-link {
  display: flex;
  align-items: center;
  justify-content: center; 
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-icons {
    display: block;
    margin: 8px;
    fill: #f4f4fd;
}


/* ---hero (solutions)--- */


.solutions {
  background-color: #2e2f42;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 320px;
  margin: 0 auto;
  padding: 72px 0;
}

@media screen and (min-resolution: 2x), (-webkit-min-device-pixel-ratio: 2) {
  .solutions {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bg-mob-2x.jpg);
  }
}

h1 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}

.solutions-title {
  max-width: 216px;
  margin: 72px 52px;
}

.order-button {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  /* text-align: center; */
  background-color: #4d5ae5;
  padding: 16px 32px;
  display: block;
  margin: 0 auto;
  border: none;
  cursor: pointer;
  
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-button:hover,
.order-button:focus {
  background-color: #404bbf;
}


/* ---about us--- */


h2 {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}

h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

p {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

li {
  background-color: #fff;
}

.about-us {
  padding-top: 96px;
  padding-bottom: 48px;
}

.about-us-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.about-us-item {
  padding-bottom: 48px;
}

.icon-container {
  display: none;
}

.about-us-subtitle {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}


/* ---our team --- */


.team {
  background-color: #f4f4fd;
  padding-top: 96px;
  padding-bottom: 96px;
}

.team-title {
  margin-bottom: 72px;
}

.team-subtitle {
  text-align: center;
  margin-bottom: 8px;
}

.desc-container {
  padding: 32px 0;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 72px;
}

.team-item {
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  min-width: 264px;
}

.team-desc {
  text-align: center;
  margin-bottom: 8px;
}

.team-icons-list {
  display: flex;

  justify-content: center;
  gap: 24px;
}

.team-icons-item, .footer-icons-item {
  width: 40px;
  height: 40px;
}

.team-icons-link:hover, .team-icons-link:focus {
  background-color: #404bbf;
} 

.team-icons-link{
  display: flex;
  align-items: center;
  justify-content: center; 
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icons {
  display: block;
  margin: 12px;
  fill: #f4f4fd;
}


/* ---portfolio--- */


.portfolio {
  padding-top: 96px;
  padding-bottom: 96px;
}

.portfolio-title {
  margin-bottom: 72px;
}

.portfolio-subtitle {
  margin-bottom: 8px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

.portfolio-item {
  width: 100%;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .portfolio-item-text {
  transform: translateY(0);
}

.portfolio-item-cover {
  position: relative;
  overflow: hidden;

}

.portfolio-item-text {
  position: absolute;
  top: 0;
  left: 0;
  color: #f4f4fd;
  background-color: #4d5ae5;
  padding: 40px 32px;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.desc-container-p {
  padding: 32px 16px;
  border-bottom: 1px solid #e7e9fc; 
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  border-top: none;
  transition: box-shadow 0.3s ease-in-out;
}

.portfolio-desc {
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.portfolio-item:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}


/* ---footer--- */


.page-footer {
  background-color: #2e2f42;
  padding: 96px 0;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  text-align: center;
  gap: 72px;
  padding: 0;
}

.footer-logo {
  display:inline-block;
  padding: 0;
  margin-bottom: 16px;
}

.footer-logo .logo-part {
  color: #f4f4fd;
}

.footer-text {
  text-align: left;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd; 
}

.footer-text-social {
  font-weight: 500;
  margin-bottom: 16px;
  color: #FFFFFF;
}

.footer-icons-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.footer-icons-item {
  width: 40px;
  height: 40px;
  background-color: transparent;
}

.footer-icons {
  display: block;
}

.footer-icons-link {
  display: flex;
  align-items: center;
  justify-content: center; 
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icons-link:hover, .footer-icons-link:focus {
  background-color: #31d0aa;
}

.footer-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}

.footer-input {
    width: 288px;
    height: 40px;
    padding: 8px 16px; 
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 4px;
    color: #fff;
    font-size: 12px;
    line-height: 2; 
    letter-spacing: 0.04em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    opacity: 0.3;
  }

  .footer-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 200%;
  letter-spacing: 0.04em;
  color: #fff;
}

.footer-button.order-button {
  min-width: 165px;
  height: 40px;
  padding: 8px 24px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-button.order-button:hover,
.footer-button.order-button:focus {
  background-color: #31d0aa;
}


/* ---modal--- */


.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(46, 47, 66, 0.4);
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.backdrop:not(.is-open) .modal{
  transform: translate(-50%, 100%);
}

.modal {
  width: 288px;
  min-height: 623px;
  border-radius: 4px;
  background-color: #fcfcfc;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
background: #fcfcfc;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 72px 16px 24px 16px;
  transition:  transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

button.modal-close {
  min-width: 24px;
  height: 24px;
}

.modal-close {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  top: 24px;
  right: 24px;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn {
  display: block;
  fill: #2e2f42;
  margin: auto; 
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover, .modal-close:focus {
  background-color: #404bbf;
  border: none;
}

.modal-close:hover .close-btn, .modal-close:focus .close-btn {
  fill: white
}

.modal-text {
  font-weight: 500;
  text-align: center;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  color: #2E2F42;
}

.modal-field {
  margin-bottom: 8px;
  }

  .modal-field.comment {
    margin-bottom: 16px;
  }

  .modal-field.checkbox {
    margin-bottom: 24px;
  }

.modal-input-label {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.input-wrapper {
  position: relative;
}

.modal-input {
  width: 100%;
  height: 40px;
  padding-left: 38px;
  padding-right: 16px;
}

.modal-input::placeholder, .modal-textarea::placeholder {
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.modal-element:focus {
  border-color: #4d5ae5;
}

.modal-element:focus + .input-icons {
  fill: #4d5ae5;
}

.input-icons {
  position: absolute;
  fill: black;
  top: 50%;  
  transform: translateY(-50%);
  left: 16px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea {
  font-size: 12px;
  line-height: 1.17; 
  letter-spacing: 0.04em; 
  color: rgba(46, 47, 66, 0.4);
  width: 100%;
  height: 120px;
  padding: 8px 16px;
}

.modal-element{
  background-color: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-check:checked + .modal-check-label >.modal-check-box {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.modal-check-label {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 24px;
}

  .modal-check-label a {
    line-height: 133%;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
}

.modal-check-box {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  fill: transparent;
  background: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-check-link {
  color: #4d5ae5;
}

.modal-button.order-button {
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}


@media screen and (min-width: 768px) {
.container {
max-width: 768px;
}
    
.header-nav {
display: flex;
align-items: center;
}

.logo {
padding: 24px 0;
}

.logo-part {
  margin-right: 120px;
}

  .nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
} 

.nav-link {
  display: block;
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.current, .mobile-nav-link.current {
  position: relative;
}

.nav-link.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus,
.nav-link.current {
  color: #404bbf;
}

.contacts {
  font-style: normal;
  display: block;
}

.contacts-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.contacts-link {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.burger-btn {
display: none;
}

.mobile-menu {
display: none;
}
    
.solutions {
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bg-tab.jpg);
  max-width: 768px;
  padding: 112px 0;
  }

  @media screen and (min-resolution: 2x), (-webkit-min-device-pixel-ratio: 2) {
    .solutions {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bg-tab-2x.jpg);
    }
  }

  h1 { 
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
  }

  .solutions-title {
  max-width: 496px;
  margin: 0 auto 36px;
  }

.about-us-item {
  width: calc((100% - 24px) / 2);
}

  .about-us-subtitle {
    text-align: left;
  }

.team-list {
    gap: 64px 24px;
  }

  .team-item {
  width: calc((100% - 24px) / 2);
  max-width: 264px;
}

.portfolio-list {
    gap: 72px 24px;
  }

  .portfolio-item {
  width: calc((100% - 24px) / 2);
}

  .page-footer {
    padding-right: 108px;
    padding-left: 108px;
  }

  .footer-container {
  text-align: left;
  justify-content: left;
}

  .footer-text {
  max-width: 264px;
}

.footer-input {
  width: 264px;
}

.modal {
      width: 408px;
      min-height: 584px;
      padding: 72px 24px 24px 24px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
  max-width: 1158px;
  padding: 0 15px;
  }

  .logo-part {
  margin-right: 76px;
}  

.contacts {
  font-style: normal;
  margin-left: auto;
}
.contacts-list {
  flex-direction: row;
  align-items: center;
  gap: 40px;
}

.contacts-link {
  padding: 24px 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.solutions {
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bg.jpg);
    max-width: 1440px;
    padding: 188px 0;
  }

  @media screen and (min-resolution: 2x), (-webkit-min-device-pixel-ratio: 2) {
    .solutions {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bg-2x.jpg);
    }
}

.solutions-title {
  margin: 0 auto 48px;
  }

 .about-us-item {
  padding-bottom: 0;
}

  .about-us {
  padding-top: 120px;
  padding-bottom: 120px;
}

  .about-us-item {
  width: calc((100% - 72px) / 4);
}
  
  .icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 264px;
  height: 112px;
  background-color: #f4f4fd;
  margin-bottom: 8px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
}

  .about-us-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

  .team {
  padding-top: 120px;
  padding-bottom: 120px;
}

.team-list {
  gap: 24px;
}

.team-item {
  width: calc((100% - 72px) / 4);
}

  .portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio-list {
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
  box-shadow: none;
}

  .page-footer {
  padding: 100px 0;
}
  .footer-input {
    opacity: 1;
  }

  .footer-container {
  justify-content: space-between;
  gap: 0;
}
}